<form [formGroup]="createForm" novalidate (ngSubmit)="saveKPI()">
  <div class="form-group">
    <label>KPI Name:</label>
    <input class="form-control" formControlName="kpiName" type="text">
  </div>
  <div *ngIf="createForm.controls['kpiName'].invalid &&
    (createForm.controls['kpiName'].dirty ||
    createForm.controls['kpiName'].touched)" class="alert alert-danger">
    <div *ngIf="createForm.controls['kpiName'].errors.required">
      KPI Name is required.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-heading">Financial Accounts</div>
        <div class="card-body">
            <tree [tree]="tree" (nodeSelected)="logEvent($event)"></tree>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-heading">KPI Formula Defination</div>
        <div class="card-body">Panel Content</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-heading">Operators</div>
        <div class="card-body">
          <button type="button" class="btn btn-success mr-1">+</button>
          <button type="button" class="btn btn-success mr-1">-</button>
          <button type="button" class="btn btn-success mr-1">*</button>
          <button type="button" class="btn btn-success">/</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-right">
      <button (click)="closeForm()" class="btn btn-default">Cancel</button>
    </div>
    <div class="col-sm-6">
      <button type="submit"
        [disabled]="createForm.pristine || createForm.invalid" class="btn
        btn-success">
        Save
      </button>
    </div>
  </div>
</form>